@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  transition: all .5s;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
.header {
  position: fixed;
  padding: 0 2rem;
}
.promo {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  z-index: 1002;
  display: flex;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /*here a add code from figma*/
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: stretch;
} 
.stroke-promo{
  display: flex;
  gap: 8px;
}
.icon-promo{
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
} 
    
h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Manrope;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.6px;
}

h2 {
  color: var(--text, #2A2A2A);
  text-align: center;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: 1.6px;
  text-transform: capitalize;
}
Menu a {
  text-decoration: unset;
  color:#2A2A2A;
  font-size: 1rem;
}
a:hover {
  text-decoration: underline;
  color: #2A2A2A;
}
.navbar{
  position: fixed;
  top: 0;
  text-decoration: none;
  left: 0;
  z-index: 999;
  padding-top: 40px;
  color: #2A2A2A;
  padding-bottom: 10px;
  padding-left: 110px;
  padding-right: 110px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px); 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 6rem;
  font-size: 24px;
  text-decoration: none;
  color: #2A2A2A;
}
  
.navbar .toggle_btn {
  font-size: 4.5rem;
  cursor: pointer;
  display: none;
}
  
.action_btn {
  background:  #7873f5;
  color: white;
  padding: 1.4rem 2.8rem;
  border: none;
  outline: none;
  border-radius: 22px;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}
.ul {
  text-decoration: none;
  color: #2A2A2A;
}
  
.action_btn:hover {
  scale: 1.05;
  color: white;
  text-decoration: none;
}
  
.action_btn:active {
  scale: 0.95;
}
  
/*DROPDOWN MENU */
.dropdown_menu {
  display: none;
  height: 0;
  text-decoration: none;
  color: #2A2A2A;
  position: fixed;   /* positioned element */
  top: 100px;            /* adjust so it sits below your navbar */
  right: 20px;
  z-index: 100; 
  /* z-index: 1000; lower than toggle_btn */
  width: 300px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  /* transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
  
.dropdown_menu.open {
  height: 204px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* position: fixed; */
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
  
.dropdown_menu .action_btn {
  min-width: 50%;
  display: flex;
  justify-content: center;
  /* position: fixed; */
}
  
.toggle_btn {
  position: relative;
  z-index: 9999;
  padding-top: 10px;
  right: 2rem;
  display: block;
}
 /* For menu */
@media (max-width: 1400px) {
  .navbar {
    padding-left: 80px;
    padding-right: 80px; 
    padding-top: 40px;
    padding-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding-left: 55px;
    padding-right: 30px; 
    padding-top: 20px;
    padding-bottom: 2px;
  }
  .navbar .links,  
  .navbar .action_btn {
    display: none;
    text-decoration: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  .logo {
      padding-top: 20px;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
    top: 80px;
  }
  .navbar {
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 2px;  
  }
  .logo {
    padding-top: 20px;
  }
}

.cards-main {
  padding: 2.55rem 5%;
  padding-top: 80px;
  padding-bottom: 80px;
  align-items: center;
  text-align: center;
  background-color: white;
}
.ai-text {
  overflow: hidden;
  font-size: 3rem;
  background: linear-gradient(90deg, #FF6EC4 0%, #7873F5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.44px;
}
.text {
  overflow: hidden;
  color: var(--text, #2A2A2A);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 46.8px */
  letter-spacing: 1.44px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-container .box {
  flex: 1 1 27rem;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, alpha)80%;
  position: relative;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  margin: 1rem;
}
.box-container .box-2 {
  flex: 1 1 27rem;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, alpha)80%;
  position: relative;
  overflow: hidden;
  align-items: center;
  padding-top: 80px;
  cursor: pointer;
  margin: 1rem;
}
.box-container .box-3 {
  flex: 1 1 27rem;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, alpha)80%;
  position: relative;
  overflow: hidden;
  align-items: center;
  padding-top: 160px;
  cursor: pointer;
  margin: 1rem;
}
.box-container .box .img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  text-align: center;
}
.box-container .box .img img {
  width: 90rem;
  height: 55.2rem;
  border-radius: 30px;
  align-items: center;
  object-fit: cover;
}
.box-container .box .info .details {
  align-items: center;
  flex-direction: row;
  gap: 16px;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}
.title {
  font-size: 3rem;
  width: 155px;
  height: 56px;
  border-radius: 16px;
  text-align: center;
  background: white;
  color: #2A2A2A;
  position: absolute;
  top: 4%;
  right: 5%;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  padding: 12px 4px 14px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.title-card {
  font-size: 28px;
  font-weight: bold;
  color: #2A2A2A;
}

.box-container .box .overlay {
  position: absolute;
  border-radius: 30px;
  top: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  border: 6px solid #7C73F3;
  left: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: none;
}
.box-container .box .overlay a {
  background: white;
  color: #C471D9;;
  border-radius: 40px;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 90px;
  padding-right: 90px;
}
.box-container .box:hover .overlay a {
  transform: translateY(0);
}
.box-container .box:hover .overlay {
  transform: scale(1);
}

.button-get-started {
  left: 50%;
  transform: translateX(-50%);
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 36.4px */
  letter-spacing: 1.12px;
  display: flex;
  padding: 10px 12px 12px 12px;
  justify-content: center;
  align-items: center; 
  height: 67px;
  width: 220px;
  padding: 10px 12px 12px 12px;
  text-align: center;
  border-radius: 20px;
  color: white;
  background: var(--blue, #7C73F3);
  position: absolute;
  bottom: 4%;
  text-align: center;
  align-self: stretch;
}

.button-get-started:hover {
  color: white;
  background: var(--blue, #4FABF8);
}
.gradient-text{
  -webkit-line-clamp: 5;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Manrope;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.92px;
  }
.van-gogh{
  overflow: hidden;
  -webkit-line-clamp: 5;
  color: var(--text, #2A2A2A);
  font-family: Manrope;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.92px;
}
p {
  font-size: 3.4rem;
  padding-top: 8rem;
  padding-right: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 52px */
  letter-spacing: 1.6px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  text-align: right;
}

.second-stroke-1-section{
  background-clip: text;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 3.4rem;
  text-align: right;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 84.5px */
  letter-spacing: 2.6px;
  background:linear-gradient(90deg, #ff6ec4, #7873f5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo {
  width: 180px;
  height: auto;
}
.swiper h2 {
  color: #2A2A2A;
}
.name-card {
  font-size: 24px;
  font-weight:lighter;
  padding-bottom: 12px;
}
.bold-text {
  font-weight: 800;
  color: #2A2A2A;
  font-size: 28px;
}
.footer {
  background: #F6F6F6;
  justify-content: center;
  color: #2A2A2A;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.footer-center {
  justify-self: center;
}

/* Top section with two columns */
.footer-container {
  display: flex;
  flex-wrap: wrap; /* Allows stacking on small screens */
  justify-content: center;
  margin-bottom: 10px;
  gap: 180px;
}


.footer-col h4 {
  margin-bottom: 10px;
  font-size: 1.3em;
  color:#2A2A2A;
}
.links-footer {
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  }
/* Links style */
.footer a {
  font-size: 1.2rem;
  display: block;
  color: #2A2A2A;
  text-decoration: none;
  margin: 5px 0;
}
.footer p {
  font-size: 1.2rem;
  letter-spacing: 0;
  text-align: left;
  padding-top: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

/* Bottom legal text */
.footer-bottom {
  text-align: left;
  font-size: 1.2rem;
  border-top: 1px solid #2A2A2A;
  padding-top: 10px;
}

.footer-bottom a {
  margin: 0 8px;
  color:#2A2A2A;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.legal-line {
  display: inline-flex;           /* keeps items on one line */
  align-items: center;
  justify-content: center;
  gap: 0;                         /* separators handle spacing */
  white-space: nowrap;            /* stay on a single line */
  width: 100%;  
  padding-bottom: 10px;                 /* center within footer */
  text-align: center;
}
.legal-line a {
  color: #2A2A2A;                    /* adjust to your theme */
  text-decoration: none;
  font-size: 1.2rem;
}
/* add centered separators */
.legal-line a + a {
  position: relative;
}
.legal-line a + a::before {
  content: "·";                   /* use "|" if you prefer */
  opacity: .7;
}
.legal-line a:hover { text-decoration: underline; } /* hover color */


@media (min-width: 1920px) {
  p {
    font-size: 8rem;
  }
  .gradient-text{
    font-size: 8rem;
  }
  .second-stroke-1-section{
    font-size: 8rem;
  } 
  .van-gogh{
    font-size: 8rem;
  } 
  .box-container .box .img img {
    height: 85.2rem;
    width: 110rem;
  } 
  .name-card {
    font-size: 52px;
    padding-bottom: 16px;
  }
  .title {
    font-size: 4.5rem;
    width: 195px;
    height: 76px;
    border-radius: 20px;
    right: 5%;
  }
  .bold-text {
    font-size: 52px;
    font-weight: 900;
  }
  .button-get-started {
    font-size: 36px;
    height: 90px;
    padding-top: 14px;
    padding-bottom: 20px;
    width: 340px;
    border-radius: 22px;
  }
  .logo {
    width: 340px;
  }
}

@media (max-width: 966px) {
  /* .box-container .box-2 {
    padding-top: 20px;
  } */
  .box-container .box-3 {
    padding-top: 20px;
  }
  .box-container .box .img img {
    height: 600px;
  }
}
@media (max-width: 645px) {
  .box-container .box-2 {
    padding-top: 20px;
  }
  .box-container .box-3 {
    padding-top: 20px;
  }
  .logo {
    width: 130px;
  }
  .footer-col {
    text-align:left;
  }
  .footer-container {
    gap: 40px;
  }
  .box-container .box .img img {
    height: 42.2rem;
  }
}

  /* Optional: allow wrapping on very small screens */
@media (max-width: 360px) {
  .footer-col {
    font-size: 12px;
  }
  .footer h4 {
    font-size: 14px;
  }
  .legal-line { white-space: normal; flex-wrap: wrap; }
  .legal-line a { padding: .2rem .5rem;font-size: 10px; }
  .legal-line a + a::before { display: none; } /* drop separators when wrapped */
}

/* Second Section */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
.second-section {
  font-family: sans-serif;
  color: #F6F6F6;
  padding: 4.55rem 5%;
}
.body {
  margin-left: 80px;
  margin-right: 80px;
}
.swiper-wrapper {
  border-radius: 40px;
}
.swiper {
  position: relative;
  background:  #F6F6F6;
  width: 100%;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

 .swiper-button-next, .swiper-button-prev {
    position: relative;
 }
 h2 {
  color: var(--text,#2A2A2A);
  text-align: center;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: 1.6px;
  text-transform: capitalize;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-left: 60px;
  padding-right: 60px;
}
.slide-content-1 {
  font-size: 2rem;
  text-align: center;
  border-radius: 40px;
  background-image: url(image/1.jpg);
  background-size: cover;
  background-position: center;
  width: 1060px;
  height: 600px;
}

.slide-content-2 {
  font-size: 2rem;
  text-align: center;
  border-radius: 40px;
  background-image: url(image/33.jpg);
  background-size: cover;
  background-position: center;
  width: 1060px;
  height: 652px;
}
.slide-content-3 {
  font-size: 2rem;
  text-align: center;
  border-radius: 40px;
  background-image: url(image/30.png);
  background-size: cover;
  background-position: center;
  width: 1060px;
  height: 652px;
}
.slide-content-1 .slide-content-2 .slide-content-3 .img img {
  width: 60rem;
  height: 35rem;
  border-radius: 40px;
  align-items: center;
  object-fit: cover;
}

.field-prompt {
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  font-size: 2rem;
  border-radius: 20px;
  background: white;
  color: #2A2A2A;
  text-align:left;
  display: flex;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
}
.caret {
  width: 2px;
  height: 1.2em;
  background-color: #2A2A2A;
  animation: blink 1s step-start infinite;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 6px;
}

.img-icon {
  padding-left: 24px;
  align-items: center;
}
/* i stopped here */
.swiper-slide .slide-content-1 .slide-content-2 .slide-content-3 { 
  text-align: center;
  position: relative;
  align-items: center;
  margin: 1rem;
}

:root {
  --swiper-theme-color: #7873F5;
  --swiper-navigation-size: 24px
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1
}

.swiper-button-next,.swiper-button-prev {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #F6F6F6;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  margin-top: 6px;
  background-color:rgba(42, 42, 42, 0.5);  
  bottom: 20px; /* Distance from the bottom */
  top: auto;    /* Cancel default top */
  z-index: 10;
}

/* Center arrows horizontally */
.swiper-button-prev {
  left: auto;
  transform: translateX(-20px); /* Shift to left */
}

.swiper-button-next {
  right: auto;
  transform: translateX(20px); /* Shift to right */
}
/* Optional: hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #2A2A2A;
}
/* Optional: click effect */
.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: #ff6ec4;
}
.element.style {
  transform: translate3d(0px, 0px, 0px);;
}

@media (max-width: 646px) {
  .slide-content {
    border-radius: 30px;
    height: 400px;
  }
}

@media (max-width: 430px) {
  p {
    padding-right: 2rem;
    font-size: 2rem;
    letter-spacing: 0.1;
  }
  .cards-main {
    padding-top: 40px;
  }
  .promo {
    font-size: 12px;
  }
  .gradient-text {
    font-size: 2.2rem;
    letter-spacing: 0.1;
  }
  .van-gogh {
    font-size: 2rem;
    letter-spacing: 0.1; 
  }
  .second-stroke-1-section {
    font-size: 2.2rem;
    letter-spacing: 0.1; 
  }
  .img-icon {
    padding-left: 14px;
    align-items: center;
  }
  h2 { 
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .footer p {
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
  }
  .title {
    font-size: 2rem;
    width: 90px;
    height: 40px;
    border-radius: 12px;
    top: 4%;
    right: 5%;
    margin-bottom: 1rem;
    padding: 8px 2px 8px 0px; 
  }
  .caret {
    margin-left: 4px;
  }
  .legal-line {
    padding-bottom: 0px; 
    padding-bottom: 10px;                /* center within footer */
  }
  .bold-text {
    font-size: 2rem;  
  }
  .name-card {
    font-size: 18px;
    padding-bottom: 8px;
  }
  .button-get-started {
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 130%; /* 36.4px */
    letter-spacing: 1px;
    height: 50px;
    width: 180px;
    padding: 8px 10px 10px 10px;
    border-radius: 16px;
  }
  .field-prompt {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 0px;
    border-radius: 12px;
  }
  .slide-content-1 {
    height: 35.2rem;
    border-radius: 30px;
  }
  .slide-content-2 {
    height: 35.2rem;
    border-radius: 30px;
  }
  .slide-content-3 {
    height: 35.2rem;
    border-radius: 30px;
  }
  .img-icon {
    transform: scale(0.7); /* 70% size */
    transform-origin: center;
  } 
  .slide-content-1 .slide-content-2 .slide-content-3 {
    border-radius: 30px;
  }
  .swiper {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  /* Center arrows horizontally */
  .swiper-button-prev {
    left: auto;
    transform: translateX(-10px); /* Shift to left */
  }
  
  .swiper-button-next {
    right: auto;
    transform: translateX(10px); /* Shift to right */
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }
  :root {
    --swiper-navigation-size: 16px;
    align-items: center;
  }

  .swiper-slide {
    padding-left: 40px;
    padding-right: 40px;
  }
  .box-container .box .img img {
    height: 35.2rem;
  }
}




/* fourth-section */
.fourth-section {
  font-family: sans-serif;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #2a2a2a;
  padding: 4.55rem 5%;
  margin: 0;
  background: conic-gradient(from 30deg, #ffffff, #CBC9F5, #F2CDE3, #Ffffff);
  background-size: cover;
}
.fourth-section h3 {
  color: #3F3F3F;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.fourth-section h4 {
  color: #2A2A2A;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}

.creation-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.creation-box-container .creation-box {
  flex: 1 1 27rem;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, alpha)80%;
  position: relative;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  background-color: white;
  cursor: pointer;
  margin: 1rem;
}
.creation-box-container .creation-box .creation-img {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: white;
}
.creation-box-container .creation-box .creation-info .details {
  align-items: center;
  flex-direction: row;
  gap: 16px;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}
.title {
  font-size: 3rem;
  width: 155px;
  height: 56px;
  border-radius: 16px;
  text-align: center;
  background: white;
  color: #2A2A2A;
  position: absolute;
  top: 4%;
  right: 5%;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  padding: 12px 4px 14px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.title-card {
  font-size: 28px;
  font-weight: bold;
  color: #2A2A2A;
}

.creation-box-container .creation-box .overlay {
  position: absolute;
  border-radius: 30px;
  top: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  border: 6px solid #7C73F3;
  left: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: none;
}
.creation-box-container .creation-box .overlay a {
  background: white;
  color: #C471D9;;
  border-radius: 40px;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 90px;
  padding-right: 90px;
}
.creation-box-container .creation-box:hover .overlay a {
  transform: translateY(0);
}
.creation-box-container .creation-box:hover .overlay {
  transform: scale(1);
}

.description-button-get-started {
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 36.4px */
  letter-spacing: 1.12px;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 52px;
  width: 250px;
  border-radius: 20px;
  color: white;
  background: var(--blue, #7C73F3);
  margin: auto;
  text-align: center;
  align-self: stretch;
}

.button-get-started:hover {
  color: white;
  background: var(--blue, #4FABF8);
}
.creation-name-card {
  font-size: 24px;
}
.one-stroke-description {
  display: flex;
  font-size: 20px;
  gap: 8px;
  font-weight:400;
  align-self:center;
  min-width: 250px; 
  white-space: nowrap;
}
.description-icon {
  width: 32px;
  height: 32px;
  align-items: center;
}
.description {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-direction: column;
  gap: 4px;
  height: 108px;
  align-items:center;
}
.description-icon svg {
  align-items: center;
}
