* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

section {
    width: 100%;
    position: relative;
}
.creating {
    padding-left: 80px;
    padding-right: 80px;
    gap: 36px;
    background: var(--gray-background, #F6F6F6);
    width:100%;
    position: inherit;
  }
  .text {
    overflow: hidden;
    color: var(--text, #2A2A2A);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
    letter-spacing: 1.44px;
  }
  .slide-container {
    display: grid;
    gap: 20px;
  }
  
  .slide {
    background: white;
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .slide h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .slide-main p {
    padding-bottom: 20px;
    font-size: 1.4rem;
    text-align: center;
  }

  .second-frame-tariff {
    display: flex;
    padding: 0px 30px 30px 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0px 0px 30px 30px;
  }
  .first-description {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
    align-self: stretch;
  }
  .third-column-tariff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  .two-column-tariff {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 4px;
    min-height: 134px;
    align-items: flex-start;
  }
  .one-stroke-description {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 16px;
    align-self: stretch; 
  }
  .advise {
    display: flex;
    gap: 10px;
    align-self: stretch;
    color: var(--light-text, #575757);
    font-family: Manrope;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.72px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--3, linear-gradient(90deg, #2C8AEE 0%, #AA8BFA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 39px */
    letter-spacing: 0.9px;
  }
  .btn-tariff {
    display: flex;
    padding: 14px 16px 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--blue, #2E8AEE);
    background: var(--blue, #2E8AEE);
    color: var(--white-background, #FFF);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 36.4px */
    letter-spacing: 1.12px;
  }
 
  /*RESPONSIVE DESIGN*/
  
/* ≥ 992px: 3 slides in 1 row */
@media (min-width: 992px) {
    .slide-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .first-slide-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 576px–991px: 2 in first row, 1 below */
@media (min-width: 576px) and (max-width: 991px) {
    .slide-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .first-slide-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .price {
        padding-top: 4px;
        padding-bottom: px;
    }
    .two-column-tariff {
        min-width: 190px;
      }
}
      
/* i checked it.Done */
@media (max-width: 576px) {
    .two-column-tariff {
        min-width: 134px;
      }
    .one-stroke-description {
        gap: 16px;
        font-size: 20px;
    }
    .third-column-tariff {
        gap: 10px;
        padding: 0px;
        }

    .first-slide-container {
        grid-template-columns: 1fr;
    }
    .two-column-tariff {
        display: flex;
        gap: 6px;
    }
    .advise {
        padding: 0px;
        gap: 10px;
        font-size: 18px;
    }
    .price {
        font-size: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    p {
        font-size: 1.4rem;
        font-weight:400;
        letter-spacing: 1.2px;
    }
    .btn-tariff {
        gap: 4px;
        border-radius: 14px;
        font-size: 20px;
    }
    .slide-container {
        grid-template-columns: 1fr;
    }
}