@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #333;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #333;
}

/*Transition*/
a,
.btn {
  transition: all 300ms ease;
}

/*Dekstop nav*/
nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background: var(--gray-background, #F6F6F6);;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a {
  color: #333;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* Hamburger-menu */
#hamburger-nav{
  display: none;
}
.hamburger-menu{
  position: relative;
  display: inline-block;
}
.hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  background: var(--gray-background, #F6F6F6);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
opacity: 0;
}
.hamburger-icon.open span:last-child {
transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/*Sections*/


















  /* Promo Banner (fixed top) */
  .promo {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
    color: white;
    text-align: center;
    padding: 10px 15px;
    font-family: Comme;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    z-index: 1002;
    display: flex;
    /*here a add code from figma*/
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
  }
  .stroke-promo{
    display: flex;
    gap: 8px;
  }
  .icon-promo{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
  }
 /* Navbar */  /*
.navbar {
position: fixed;
top: 40px;
width: 100%;
height: 60px;
background: var(--gray-background, #F6F6F6);
box-shadow: 0 2px 5px rgba(0,0,0,0.05);
display: flex;
justify-content: center; /* Center the links */
align-items: center;
z-index: 1001;
} /*
.nav-links {
display: flex;
gap: 40px;
align-items: center;
color: var(--text, #2A2A2A);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 36.4px */
letter-spacing: 0.84px;
} /*

.nav-links a {
text-decoration: none;
color: #555;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 36.4px */
letter-spacing: 0.84px;
transition: color 0.3s;
}
/*
.nav-links a:hover {
color: #000;
}
.small-logo{
display: flex;
padding: 2px;
align-items: center;
}
.small-1-parth{
width: 33px;
height: 34.5px;
}
.int{
color: var(--text, #2A2A2A);
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%;
padding-left: 6px;
letter-spacing: 2.24px;
}
.AI{
background: linear-gradient(90deg, #2C8AEE 70.99%, #AA8BFA 96.91%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Manrope;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%;
letter-spacing: 1.68px;
}/*

/* Hamburger */
.hamburger {
display: none;
font-size: 28px;
position: absolute;
right: 20px;
top: 16px;
cursor: pointer;
}

  section {
    padding: 100px 20px;
    text-align: center;
  }
  .first-section{
    height: 1300px;
    padding: 190px;
    align-self:flex-end
    background: var(--white-background, #FFF);
  }
  .first-column-1-section{
    display: flex;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 100px;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-end; 
  }
  .first-stroke-1-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    color: var(--text, #2A2A2A);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 52px */
    letter-spacing: 1.6px;
  }
  .gradient-text{
    -webkit-line-clamp: 5;
    background: linear-gradient(90deg, #2C8AEE 19.3%, #AA8BFA 40.82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.92px;
  }
  .van-gogh{
    overflow: hidden;
    -webkit-line-clamp: 5;
    color: var(--text, #2A2A2A);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.92px;
  }
  .second-stroke-1-section{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Manrope;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 84.5px */
    letter-spacing: 2.6px;
    background: var(--3, linear-gradient(90deg, #2C8AEE 0%, #AA8BFA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .third-stroke-1-section{
    display: flex;
    width: 271px;
    height: 91px;
    align-items: center;
  }
    .big-1-parth{
      width: 76px;
      height: 80px;
      flex-shrink: 0;
    }
    .big-int{
      color: var(--text, #2A2A2A);
      font-family: Manrope;
      font-size: 70px;
      font-style: normal;
      font-weight: 600;
      padding-left: 12px;
      line-height: 130%;
      letter-spacing: 4.2px;
    }
    .big-AI{
      background: linear-gradient(90deg, #2C8AEE 69.4%, #AA8BFA 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Manrope;
      font-size: 70px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 4.2px;
    }
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #444;
  }

  /* Mobile Responsive */ /*here i must add specific changes for adaptives*/
  @media (max-width: 768px) {
    .nav-links { /*
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      display: none;
      padding: 20px 0;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .nav-links a {
      padding: 10px 0;
      font-size: 18px;
    }

    .nav-links.active {
      display: flex;
    } 

    .hamburger {
      display: block;
    }

    section h2 {
      font-size: 26px;
    }
    /*here i added improvization with 1 section*/
    /*.first-section{
      height: 1300px;
      align-self:flex-end;
      background: var(--white-background, #FFF);
    }
    .first-column-1-section{
      display: flex;
      padding-left: 190px;
      padding-right: 190px;
      padding-top: 100px;
      align-items: flex-end;
      flex-direction: column;
      align-items: flex-end; 
    }
    .first-stroke-1-section{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      color: var(--text, #2A2A2A);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 52px */
      letter-spacing: 1.6px;
    }/*
    .gradient-text{
      -webkit-line-clamp: 5;
      background: linear-gradient(90deg, #2C8AEE 19.3%, #AA8BFA 40.82%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Manrope;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: 1.92px;
    }
    .van-gogh{
      overflow: hidden;
      -webkit-line-clamp: 5;
      color: var(--text, #2A2A2A);
      font-family: Manrope;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: 1.92px;
    }
    .second-stroke-1-section{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: Manrope;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%; /* 84.5px */
      letter-spacing: 2.6px;
      background: var(--3, linear-gradient(90deg, #2C8AEE 0%, #AA8BFA 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } /*
    .third-stroke-1-section{
      display: flex;
      width: 271px;
      height: 91px;
      align-items: center;
    }
      .big-1-parth{
        width: 76px;
        height: 80px;
        flex-shrink: 0;
      }
      .big-int{
        color: var(--text, #2A2A2A);
        font-family: Manrope;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        padding-left: 12px;
        line-height: 130%;
        letter-spacing: 4.2px;
      }
      .big-AI{
        background: linear-gradient(90deg, #2C8AEE 69.4%, #AA8BFA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Manrope;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 4.2px;
      } /*
  }